.popupContent {
	position: fixed;
	top: 8vh;
	left: 20vw;
	width: 60vw;
	max-height: 50vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(255, 255, 255);
	z-index: 1002;
	overflow: scroll;
}

.rotateOpen {
	transform: rotate(45deg);
	transition: transform 0.3s ease;
}

.rotateClose {
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}

.overlay {
	position: fixed;
	top: 8vh;
	left: 0;
	width: 100vw;
	height: 92vh;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
	pointer-events: none;
}

.overlayLeft {
	position: fixed;
	top: 0;
	left: 0;
	width: 20vw;
	height: 8vh;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
	pointer-events: none;
}

.overlayRight {
	position: fixed;
	top: 0;
	right: 0;
	width: 20vw;
	height: 8vh;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
	pointer-events: none;
}
