.checkboxButton {
	display: inline-block;
	padding: 6px 15px;
	background-color: white;
	margin: 2px;

	color: black;
	font-family: Courier, "Courier New", monospace;
	font-size: 13px;
	text-align: center;

	cursor: pointer;
	transition: all 0.2s ease;
	user-select: none;
}

.checkboxButton:hover {
	background-color: rgb(235, 235, 235);
}

.checkboxButton input {
	display: none;
}

.checkboxButton:has(input:checked) {
	background-color: rgb(40, 167, 69);
	color: white;
}
