.imgBtn {
	display: inline-block;
	max-width: 4vh;
	max-height: 4vh;
	width: 10vw;
	height: 10vw;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
	transition: 0.3s;
	margin-inline: 25px;
	padding: 5px;
	z-index: 1002;
}

@media (max-width: 600px) {
	.imgBtn {
		margin-inline: 15px;
	}
}

.imgBtn:hover {
	background-color: rgb(200, 200, 200);
}

.imgBtn input {
	display: none;
}

.imgIcon {
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1002;
}
