.imgRadioButton {
	display: inline-block;
	padding: 4px;
	background-color: white;
	height: 100px;
	width: 80px;

	cursor: pointer;
	transition: all 0.2s ease;
	user-select: none;
}

.imgRadioButton img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.imgRadioButton:hover {
	background-color: rgb(235, 235, 235);
}

.imgRadioButton input {
	display: none;
}

.imgRadioButton:has(input:checked) {
	background-color: rgb(200, 200, 200);
}
