.filter-items-form {
    display: inline-block;
    overflow: scroll;
    text-align: center;
    padding: 2px;
    margin-left: 2px;
    border: 1px, solid, black;
    margin-right: 2px;
    width: 300px;
    background-color: rgb(245, 245, 245);
}