.navbar {
    position: fixed;
    top: 0px;
    left: 15vw;
    right: 15vw;
    width: 70vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.nav-logo:hover {
    transform: scale(1.1);
}

.blank {
    width: 40px;
}
