.navbar {
    position: fixed;
    top: 0px;
    left: 15vw;
    right: 15vw;
    width: 70vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    z-index: 1000;
}

.navLogo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.navLogo:hover {
    transform: scale(1.1);
}

.blank {
    width: 40px;
}
