.dropdownPanel {
    position: fixed;
    top: 8vh;
    left: 15vw;
    right: 15vw;
    width: 70vw;
    max-height: 42vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 245, 245);
    z-index: 999;
    overflow: scroll;
}
