.itemCard {
	display: inline-block;
	width: 120px;
	height: 150px;
	justify-content: center;
	align-items: center;
	margin: 2px;
}

.itemCard img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
