.itemCard {
	display: inline-block;
	width: 120px;
	height: 150px;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 1px;
}

.itemCard:hover {
	background-color: rgb(230, 230, 230);
}

.itemCard img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
