.outfitCard {
	display: inline-block;
	position: relative;
	width: 160px;
	height: 350px;
	justify-content: center;
	align-items: center;
	padding: 10px;
	pointer-events: fill;
	border-radius: 2px;
	overflow: hidden;
}

.outfitCard:hover {
	background-color: rgb(230, 230, 230);
}

.outfitCard img {
	height: 80%;
	width: 100%;
	object-fit: contain;
	display: block;
	pointer-events: fill;
}

.outfitCardText {
	position: block;
	color: rgb(0, 0, 0);
	font-family: Courier, "Courier New", monospace;
	font-size: 14px;
	text-align: center;
	border-radius: 1px;
	transition: 0.3s;
}

.outfitCardDesc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 10px;
}
