.outfitCard {
	width: 500px;
	display: inline-block;
	height: 700px;
	justify-content: center;
	align-items: center;
	pointer-events: fill;
	border-radius: 2px;
	overflow: hidden;
}

.outfitCard:hover {
	background-color: rgb(230, 230, 230);
}

.outfitContainer {
	width: 490;
	padding: 5px;
	height: 640px;
	display: flex;
	flex-direction: column;
	pointer-events: fill;
	justify-content: center;
	align-items: center;
}

.outfitRowContainer {
	width: 490px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: scroll;
}

.outfitRowContainer:hover {
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgb(210, 210, 210);
}

.outfitRowContainer img {
	object-fit: cover;
}

.outfitDate {
	position: block;
	color: rgb(0, 0, 0);
	font-family: Courier, "Courier New", monospace;
	font-size: 14px;
	text-align: center;
	border-radius: 1px;
	transition: 0.3s;
}

.outfitDesc {
	position: block;
	color: rgb(0, 0, 0);
	font-family: Courier, "Courier New", monospace;
	font-size: 14px;
	text-align: center;
	border-radius: 1px;
	transition: 0.3s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 10px;
}
