.templateBoxWithItem {
	height: 150px;
	width: 150px;
	border: 1px solid transparent;
	background-color: transparent;
}

.templateBoxWithoutItem {
	height: 150px;
	width: 150px;
	border: 1px solid rgb(200, 200, 200);
	background-color: rgb(240, 240, 240);
}

.templateBoxWithItem img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.templateBoxWithoutItem img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.contextMenu {
	position: fixed;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(200, 200, 200);
	z-index: 99999;
	display: inline-block;
}
