.popupForm {
	position: fixed;
	top: 8vh;
	left: 10vw;
	width: 80vw;
	max-height: 80vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	z-index: 10000;
	overflow-y: auto;
}

.popupImage {
	height: 100px;
	width: 100px;
	object-fit: contain;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 9998;
}

.title {
	color: black;
	font-family: Courier, "Courier New", monospace;
	font-size: 20px;
}

.formTitle {
	color: black;
	font-family: Courier, "Courier New", monospace;
	font-size: 15px;
}

.inputFieldText {
	padding: 10px;
	margin: 5px;
	width: 30%;
}

.inputFieldDate {
	padding: 10px;
	margin: 5px;
	width: 10%;
}
